@import "variables";

@keyframes mck_progress {
    0% {
        stroke-dasharray: 0, 100;
    }
}

.timerProgression {
    margin: 30px auto;
    width: 90%;
    text-align: center;
}

.Start-Stop
{
    position: relative; 
    bottom: -125px;
    display: none;
}

.ss_buttons
{
    border: 2px solid #43B1D6;
    border-radius: 20px;
    width: 140px;
    height: 65px;
}

.chevron-thing
{
    position: relative; 
    bottom: -225px;
    text-align: center;
}