@import "variables";

// modal

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

/* Modal Content */

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fafafa;
    width: 100%;
    height: 400px;
    border-radius: 30px 30px 0 0;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

#changeNameCheckmark {
    color: #34c759;
    font-size: 100px;
    text-align: center;
}

/* The Close Button */

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 40px 20px;
    color: black;
    h1 {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin-top: 6px;
    }
}

.modal-body {
    padding: 10px 16px;
}

.blue-tekst {
    color: #4ec7eb;
}

.modal-footer {
    padding: 2px 16px;
    width: 100%;
    color: white;
    bottom: 40px;
    position: absolute;
}

/* Add Animation */

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
